/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Rubik', sans-serif;
  color: #5E6164;
  background-color: #1e242e;
}
@media (max-width: 500px) {
  html,
  body {
    background-color: white;
  }
}
h1 {
  font-size: 4.5rem;
  color: #1F252E;
}
h2 {
  font-size: 3.5rem;
  font-weight: 500;
  color: #1F252E;
}
h3 {
  font-size: 3.4rem;
  color: #1F252E;
}
h4 {
  font-size: 2.2rem;
  color: #1F252E;
  font-weight: 500;
  padding: 8px 10px;
}
p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
  color: #1F252E;
}
.sourceContainer {
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .sourceContainer {
    max-width: 100%;
    width: 100%;
  }
}
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
  padding-top: 50px;
}
@media (max-width: 1024px) {
  header {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
}
header h1 {
  padding-left: 4%;
}
header nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
  padding-left: 10%;
  padding-right: 5%;
}
@media (max-width: 1024px) {
  header nav {
    width: 100%;
  }
}
header nav a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #1F252E;
}
.CTA {
  background-image: url('../design-files/zach-betten-40138-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 800px) {
  .CTA {
    height: 40vh;
  }
}
.CTA span {
  padding-top: 11%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.CTA span button {
  width: 120px;
  height: 46px;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  background-color: #2a7be3;
  border: 1px solid #2a7be3;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
}
.CTA span button:hover {
  background-color: white;
  color: #2a7be3;
  border: none;
}
.CTA #banner-txt {
  font-size: 6.2rem;
  font-weight: 400;
  color: white;
}
@media (max-width: 800px) {
  .CTA #banner-txt {
    font-size: 2.5rem;
    font-weight: 400;
  }
}
.CTA #banner-sub-text {
  color: whitesmoke;
}
@media (max-width: 800px) {
  .CTA #banner-sub-text {
    font-size: 2.5rem;
  }
}
.tabs {
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 47px;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .tabs {
    display: none;
  }
}
.tabs .topics {
  display: flex;
  flex-flow: row wrap;
  justify-content: none;
  align-items: center;
}
.tabs .topics .title {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
.tabs .topics .tab {
  display: flex;
  flex-flow: row wrap;
  justify-content: none;
  align-items: center;
  color: #fff;
  background-color: #2a7be3;
  margin: 0 5px;
  padding: 2px 10px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}
.tabs .topics .tab .active-tab {
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
}
.tabs .topics .tab:hover {
  text-decoration: underline;
}
.experiences {
  display: flex;
  flex-flow: column wrap;
  padding: 8.5% 4% 0 4%;
}
.experiences div h2 {
  padding-bottom: 10%;
}
@media (max-width: 1024px) {
  .experiences {
    display: none;
  }
}
.experiences .cardBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: stretch;
}
.experiences .cardBox .card {
  width: 27%;
  height: 40%;
  display: flex;
  flex-flow: column wrap;
  border: 1px solid #092244;
  border-radius: 5px;
  padding: 1% 0%;
  margin-bottom: 2%;
  overflow: hidden;
}
.experiences .cardBox .card p {
  font-weight: 300;
  margin: 2% 2.5%;
}
.experiences .cardBox .uniqImg {
  height: 170px;
}
.experiences .cardBox .img1 {
  max-width: 100%;
}
.experiences .cardBox .viewBtn {
  width: 120px;
  height: 49px;
  color: #2B7BE3;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  background-color: white;
  border: 1px solid #2B7BE3;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  margin: 5% 0% 0% 50%;
}
.experiences .cardBox .viewBtn:hover {
  background-color: white;
  color: #2a7be3;
  border: none;
}
.howItWorks {
  padding: 8% 6% 0 4%;
}
.howItWorks div h2 {
  padding-bottom: 6%;
}
@media (max-width: 500px) {
  .howItWorks div h2 {
    text-align: center;
  }
}
.howItWorks .stepContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.howItWorks .stepContainer .txtDiv {
  width: 48%;
  height: 500px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .howItWorks .stepContainer .txtDiv {
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .howItWorks .stepContainer .txtDiv .steps {
    padding: 3% 0%;
  }
}
.howItWorks .stepContainer .imgDiv {
  width: 40.5%;
}
@media (max-width: 500px) {
  .howItWorks .stepContainer .imgDiv {
    display: none;
  }
}
.howItWorks .stepContainer .bigP {
  font-size: 2.5rem;
}
.howItWorks .stepContainer .img2 {
  max-width: 100%;
}
.searchByActivity {
  margin: 8% 4%;
}
@media (max-width: 500px) {
  .searchByActivity div {
    text-align: center;
  }
}
.searchByActivity .categoryContainer {
  margin: 4% 0%;
}
.searchByActivity .categoryContainer .categoryTitle {
  padding: 2% 0 2% 2%;
}
@media (max-width: 500px) {
  .searchByActivity .categoryContainer .categoryTitle {
    text-align: center;
  }
}
.searchByActivity .categoryContainer .triPanelBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.searchByActivity .categoryContainer .triPanelBox .panel {
  height: 348px;
  width: 292px;
  position: relative;
}
@media (max-width: 500px) {
  .searchByActivity .categoryContainer .triPanelBox .panel {
    padding: 2% 0%;
  }
}
.searchByActivity .categoryContainer .triPanelBox .panel div {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0.01rem;
  width: 100%;
  height: 10%;
}
.searchByActivity .categoryContainer .triPanelBox .panel p {
  font-weight: 500;
  font-size: 2.2rem;
  text-align: center;
}
.searchByActivity .categoryContainer .triPanelBox .panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.becomeAguide {
  background-image: url('../design-files/wu-jianxiong-239318-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 55vh;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.becomeAguide span {
  padding-top: 5%;
  padding-left: 10%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.becomeAguide span h2,
.becomeAguide span h3 {
  color: white;
}
.becomeAguide span button {
  width: 120px;
  height: 46px;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  background-color: #E97979;
  border-radius: 4px;
  border: 1px solid #E97979;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
}
.becomeAguide span button:hover {
  background-color: white;
  color: #E97979;
  border: none;
}
.becomeAguide .banner-txt {
  font-size: 6.2rem;
}
.searchByLocation {
  margin: 8% 4%;
}
.searchByLocation .triPanelBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4%;
}
.searchByLocation .triPanelBox .panel {
  height: 348px;
  width: 292px;
  position: relative;
}
@media (max-width: 500px) {
  .searchByLocation .triPanelBox .panel {
    padding: 2% 0%;
  }
}
.searchByLocation .triPanelBox .panel div {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0.01rem;
  width: 100%;
  height: 10%;
}
.searchByLocation .triPanelBox .panel p {
  font-weight: 500;
  font-size: 2.2rem;
  text-align: center;
}
.searchByLocation .triPanelBox .panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .searchByLocation div {
    text-align: center;
  }
}
