
.CTA {
    background-image: url('../design-files/zach-betten-40138-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    height: 60vh;
    width: 100%;
    .flex-box(column, wrap);
    .custom-layout(flex-start,center);

    @media @tablet {
        height: 40vh;
    }

    span {
        padding-top: 11%;
        .flex-box(column, wrap);
        .custom-layout(center, center);

        button {
            .join-button(120px, 46px);
        }
    }

    #banner-txt{
        font-size: @giant-text;
        font-weight: 400;
        color: white;

        @media @tablet {
            font-size: @medium-text;
            font-weight: 400;
        }
    }

    #banner-sub-text{
        color: whitesmoke;

        @media @tablet {
            font-size: @medium-text;
        }
    }
}

.CTA2 {
    background-image: url('../design-files/annie-spratt-608001-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    height: 40vh;
    width: 100%;
    .flex-box(column, wrap);
    .custom-layout(flex-start,center);

    @media @tablet {
        height: 40vh;
    }

    span {
        padding-top: 11%;
        .flex-box(column, wrap);
        .custom-layout(center, center);

    }

    #banner-txt{
        font-size: @giant-text;
        font-weight: 400;
        color: white;

        @media @tablet {
            font-size: @medium-text;
            font-weight: 400;
        }
    }
}

.tabs {
    border-bottom: 1px solid lightgrey;
    .flex-box(row, wrap);
    .custom-layout(center, center);
    width: 100%;
    height: 47px;
    background-color: #fff;

    @media @desktop {
        display: none;
    }

    .topics {
        .flex-box(row, wrap);
        .custom-layout(none, center);
        // display: flex;
        // justify-content: none;
        // align-items: center;
        // flex-direction: row;

        .title {
            font-size: 12px;
            letter-spacing: 1px;
            font-weight: bold;
        }

        .tab {
            .flex-box(row, wrap);
            .custom-layout(none, center);
            // justify-content: none;
            color: #fff;
            background-color: @blue-button;
            margin: 0 5px;
            padding: 2px 10px;
            font-size: 12px;
            letter-spacing: 2px;
            cursor: pointer;
            font-weight: bold;
            border-radius: 4px;

            .active-tab {
                background-color: #fff;
                color: #333;
                border: 2px solid #333;
            }
        }
        
        .tab:hover {
            text-decoration: underline;
        }
    }
}

.experiences {
    .flex-box(column,wrap);
    padding: 8.5% 4% 0 4%;
    // height: 921px;
    
    div h2 {
        padding-bottom: 10%;
    }

    @media @desktop {
        display: none;
    }

    .cardBox{
        .flex-box(row, wrap);
        .custom-layout(space-evenly, flex-start);
        align-content: stretch;
        // height: 925px;

        .card {
            width: 27%;
            height:40%;
            .flex-box(column, wrap);
            border: 1px solid #092244;	
            border-radius: 5px;
            padding: 1% 0%;
            margin-bottom: 2%;
            overflow: hidden;

            p {
                font-weight: 300;
                margin: 2% 2.5%;
            }
        }

        .uniqImg {
            height: 170px;
        }

        .img1 {
            max-width: 100%;
            // max-height: 355px;
        }

        .viewBtn {
            .view-details-btn(120px, 49px);
            margin: 5% 0% 0% 50%;
        }
    }
}

.howItWorks {
    // height: 665px;
    padding: 8% 6% 0 4%;

    div h2 {
        padding-bottom: 6%;

        @media @phone{
            text-align: center;
        }
    }

    .stepContainer{
        display: flex;
        .custom-layout(space-between, flex-start);
        height: 100%;

        .txtDiv {
            width: 48%;
            height: 500px;
            .flex-box(column, nowrap);
            .custom-layout(space-around, flex-start);

            @media @phone {
                height: 100%;
                width: 100%;
                .custom-layout(space-around, center);

                .steps {
                    padding: 3% 0%;
                }
            }
        }

        .imgDiv{
            width: 40.5%;

            @media @phone {
                display: none;
            }
        }

        .bigP {
            font-size: @medium-text;
        }

        .img2 {
            max-width: 100%;
        }
    }
}

.searchByActivity{
    margin: 8% 4%;

    div{

     @media @phone{
        text-align: center;
        }
    }

    .categoryContainer{
        margin: 4% 0%;

        .categoryTitle{
            padding: 2% 0 2% 2%;

            @media @phone{
                text-align: center;
            }
        }

        .triPanelBox {
            .flex-box(row, wrap);
            .custom-layout(space-evenly, center);
            
            .panel {
                height: 348px;	
                width: 292px;
                position: relative;

                @media @phone {
                    padding: 2% 0%;
                }

                div {
                    position: absolute;
                    background-color: rgba(255, 255, 255, 0.7);
                    bottom: 0.01rem;
                    width: 100%;
                    height: 10%;
                }

                p {
                    font-weight: 500;
                    font-size: @card-title-text;
                    text-align: center;
                }
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }
    }
}

.becomeAguide {
    background-image: url('../design-files/wu-jianxiong-239318-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    height: 55vh;
    width: 100%;
    .flex-box(column, wrap);
    .custom-layout(flex-start, flex-start);
    
    span {
        padding-top: 5%;
        padding-left: 10%;
        .flex-box(column, wrap);
        .custom-layout(space-evenly, flex-start);

        h2, h3 {
            color: white;
        }
        button {
            .begin-button(120px, 46px);
        }
    }

    .banner-txt{
        font-size: @giant-text;
    }

}

.searchByLocation {
    margin: 8% 4%;

    .triPanelBox {
        .flex-box(row, wrap);
        .custom-layout(space-evenly, center);
        margin-top: 4%;

        .panel {
            height: 348px;	
            width: 292px;
            position: relative;

            @media @phone {
                padding: 2% 0%;
            }

            div {
                position: absolute;
                background-color: rgba(255, 255, 255, 0.7);
                bottom: 0.01rem;
                width: 100%;
                height: 10%;
            }

            p {
                font-weight: 500;
                font-size: @card-title-text;
                text-align: center;
            }
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }

    @media @phone { 

        div {
        text-align: center;
        }
    }
}

footer {
    div {
        text-align: center;
        a {
            font-size: @small-text;
            text-decoration: none;
            color: @normal-txt-color;
            margin: 0 auto;
        }
    }
}