.CTA {
    background-image: url('../design-files/zach-betten-40138-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    height: 60vh;
    width: 100%;
    .flex-box(column, wrap);
    .custom-layout(flex-start,center);

    span {
        padding-top: 11%;
        .flex-box(column, wrap);
        .custom-layout(center, center);

        button {
            .join-button(120px, 46px);
        }
    }

    #banner-txt{
        font-size: @giant-text;
        font-weight: 400;
        color: white;
    }

    #banner-sub-text{
        color: whitesmoke;
    }
}

.experiences {
    .flex-box(column,wrap);
    padding: 8.5% 4% 0 4%;
    height: 921px;
    
    div h2 {
        padding-bottom: 10%;
    }

    .cardBox{
        .flex-box(column, wrap);
        .custom-layout(space-evenly, flex-start);
        height: 90%;

        .card {
            width: 27%;
            .flex-box(column, wrap);
            border: 1px solid #092244;	
            border-radius: 5px;

            p {
                font-weight: 300;
            }
        }

        .img1 {
            max-width: 100%;
            // max-height: 355px;
        }

        .viewBtn {
            .view-details-btn(120px, 49px);
        }
    }
}

.howItWorks {
    // height: 665px;
    padding: 0 6% 0 4%;

    div h2 {
        padding-bottom: 6%;
    }

    .stepContainer{
        display: flex;
        .custom-layout(space-between, flex-start);
        height: 100%;

        .txtDiv {
            width: 48%;
            .flex-box(column, wrap);
            .custom-layout(space-evenly, flex-start);
        }
        .imgDiv{
            width: 40.5%;
        }
        .bigP {
            font-size: @medium-text;
        }
        .img2 {
            max-width: 100%;
        }
    }
}

.categoryContainer{
    margin: 8% 0;

    .triPanelBox {
        .flex-box(row, wrap);
        .custom-layout(space-evenly, center);
        
        .panel {
            height: 348px;	
            width: 292px;
            position: relative;

            div {
                position: absolute;
                background-color: rgba(255, 255, 255, 0.7);
                bottom: 0.01rem;
                width: 100%;
                height: 10%;
            }
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }
}

.becomeAguide {
    background-image: url('../design-files/wu-jianxiong-239318-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    height: 55vh;
    width: 100%;
    .flex-box(column, wrap);
    .custom-layout(flex-start, flex-start);
    
    span {
        padding-top: 5%;
        padding-left: 10%;
        .flex-box(column, wrap);
        .custom-layout(space-evenly, flex-start);

        h2, h3 {
            color: white;
        }
        button {
            .begin-button(120px, 46px);
        }
    }

    .banner-txt{
        font-size: @giant-text;
    }

}