
/* --------^reset^----------- */
/* * {
  box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
html,
body {
  font-family: 'Rubik', sans-serif;
  color: #5E6164;
  background-color: #1e242e;
}

.sourceContainer {
    background-color: white;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
} */